/* .container {
  width: 1260px;
  margin: 20px;
  padding: 30px;
} */

.task-heading {
  margin-bottom: 10px;
}

.task-list .task-list-link {
  padding-left: 30px;
  list-style: circle;
  /* font-size: 22px; */
}
